<div class="cart-content">
  <div class="box-x cart-minus">
    <div class="minus"></div>
  </div>
  <div class="cart-heading-box">
    <h2 class="cart-title">Your Items</h2>
  </div>
  <div class="cart-items-box">
    <%if(cartItems.length === 0){%>
    <p class="cart-empty-msg">Your cart is empty</p>
    <%}else{%> <%cartItems.forEach(item => {%>
    <div class="item">
      <a href="/cart/delete/<%=item._id%>" class="item-x">
        <svg class="feather x-icon">
          <use xlink:href="/img/feather-sprite.svg#trash-2" />
        </svg>
      </a>

      <div class="item-content">
        <div class="item-text">
          <h3 class="item-heading"><%=item.name%></h3>
          <h4 class="item-author"><%=item.author%></h4>
          <h5 class="item-coauthors"><%=item.coAuthors.join(' ,')%></h5>
        </div>
        <div class="item-price-box">
          <p class="item-price"><%=item.price%> €</p>
        </div>
      </div>
    </div>

    <%})%> <%}%>
  </div>
  <div class="cart-btn-box">
    <h4 class="cart-overall">Overall : <%=priceOverall%> €</h4>
    <a href="/pay-mail" class="cart-side-btn btn-green">Go to payment</a>
  </div>
</div>
