<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/logo21SVG.svg" type="image/x-icon" />
    <title>David21 | Official Website</title>
  </head>
  <body>
    <!-- <%if(navMessage){%>
    <div class="nav-msg-box">
      <p class="nav-msg"><%=navMessage%></p>
      <span class="close-nav-msg">
        <svg class="feather nav-msg-icon">
          <use xlink:href="/img/feather-sprite.svg#x" />
        </svg>
      </span>
    </div>
    <%}%> -->

    <section class="hero">
      <header>
        <a href="/" class="logo-container">
          <img src="/img/logo21.png" class="logo" alt="Logo" />
        </a>
        <nav>
          <ul>
            <li class="nav-item">
              <a href="/#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/shop" class="nav-link">Shop</a>
            </li>
            <li class="nav-item">
              <a href="/#contact" class="nav-link">Contact</a>
            </li>
          </ul>

          <div class="menu-btn">
            <div class="menu-btn__burger"></div>
          </div>
        </nav>

        <div class="cart">
          <button class="cart-btn">
            <svg class="feather cart-icon">
              <use xlink:href="/img/feather-sprite.svg#shopping-bag" />
            </svg>

            <span><%=cartItems.length%></span>
          </button>
        </div>
      </header>

      <div class="slider">
        <div class="arr" id="arr-left">
          <svg class="feather slide-icon" id="arr-l">
            <use xlink:href="/img/feather-sprite.svg#chevron-left" />
          </svg>
        </div>
        <div class="slide-wrapper">
          <%foundItems.forEach(song => { %>
          <div class="slide">
            <h1>New</h1>
            <div class="slide-content">
              <h2>
                <%=song.name[0].toUpperCase() + song.name.slice(1)%> in the
                store
              </h2>
              <p class="slide-description"><%=song.description%></p>
              <a class="btn-main btn-green" href="/shop">Listen now</a>
            </div>
          </div>
          <%})%>
        </div>
        <div class="arr" id="arr-right">
          <svg class="feather slide-icon" id="arr-r">
            <use xlink:href="/img/feather-sprite.svg#chevron-right" />
          </svg>
        </div>
      </div>

      <div class="dots-box">
        <div class="dots"></div>
      </div>
    </section>

    <main>
      <section class="section section-beats" id="beats">
        <div class="section-beats-content-wrapper">
          <h2 class="beats-heading">
            Beats <span class="section-heading-upper">Beats</span>
          </h2>
          <h3 class="beats-subheading">Some of my latest songs</h3>

          <div class="songs-box-main">
            <%foundItems.forEach(song => { %>
            <div class="beat">
              <div class="play-btn">
                <svg class="feather play-icon">
                  <use xlink:href="/img/feather-sprite.svg#play" />
                </svg>
              </div>

              <div class="beat-info">
                <h3 class="beat-name">
                  <%=song.name[0].toUpperCase() + song.name.slice(1)%>
                </h3>
                <h4 class="beat-author"><%=song.author%></h4>
                <h5 class="beat-coauthors"><%=song.coAuthors.join(', ')%></h5>
              </div>

              <audio
                preload="metadata"
                src="/songs/<%=categ%>/<%=song._id%>"
                class="audio"
              ></audio>

              <div class="time-wrapper">
                <div class="time-change">
                  <span class="mins">0</span>
                  :
                  <span class="secs">00</span>
                </div>
                <div class="progress-container">
                  <div class="progress"></div>
                </div>
                <div class="time-whole">
                  <span class="whole-mins">0</span>
                  :
                  <span class="whole-secs">00</span>
                </div>
              </div>

              <div class="beat-btn-box">
                <a href="/cart/<%=song._id%>" class="beat-buy-btn btn-white"
                  >Buy <%=song.price%> €</a
                >
              </div>
            </div>
            <%})%>
          </div>
          <a href="/shop" class="btn-green beat-section-btn">See all beats</a>
        </div>
      </section>

      <section class="section section-about" id="about">
        <div class="section-wrapper">
          <div class="section-text-box">
            <div class="section-text-wrapper">
              <h2 class="section-heading">
                About <span class="section-heading-upper">About</span>
              </h2>
              <p class="section-text">
                I'm from Slovakia. I've been making music for 3 years now. I
                started with beats but i do mixing and mastering too. Recently,
                I started doing djing.
              </p>

              <div class="about-socials">
                <a
                  href="https://www.instagram.com/prod.david21/"
                  class="about-link"
                >
                  <svg class="feather about-icon">
                    <use xlink:href="/img/feather-sprite.svg#instagram" />
                  </svg>
                </a>
                <a href="https://twitter.com/proddavid21" class="about-link">
                  <svg class="feather about-icon">
                    <use xlink:href="/img/feather-sprite.svg#twitter" />
                  </svg>
                </a>
                <a
                  href="https://www.youtube.com/channel/UC6HW6kwoKQMuHE8UJJz6a6w/videos"
                  class="about-link"
                >
                  <svg class="feather about-icon">
                    <use xlink:href="/img/feather-sprite.svg#youtube" />
                  </svg>
                </a>

                <a href="https://www.twitch.tv/beatsby21" class="about-link">
                  <svg class="feather about-icon">
                    <use xlink:href="/img/feather-sprite.svg#twitch" />
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="section-content-box">
            <img src="/img/aboutImg.jpg" class="ab-img" alt="" />
          </div>
        </div>
      </section>

      <section class="section section-contact" id="contact">
        <div class="example-overlay hidden-overlay">
          <span class="close-overlay">X</span>
          <div class="instructions-box">
            <h1 class="instructions-heading">Instructions</h1>
            <ul class="instructions-list">
              <li class="instructions-item">
                <span class="item-bullet">&#8226;</span> provide name for your
                song wich will <br />
                be displayed in the shop
              </li>
              <li class="instructions-item">
                <span class="item-bullet">&#8226;</span> write what type or
                genre the song should be
              </li>
              <li class="instructions-item">
                <span class="item-bullet">&#8226;</span> if you don't know
                please provide example file <br />
                that is similiar as your desired song
              </li>
              <li class="instructions-item">
                <span class="item-bullet">&#8226;</span> the file should be up
                to 5 MB
              </li>

              <li class="instructions-item">
                <span class="item-bullet">&#8226;</span> when the song is in the
                shop you will recieve <br />
                an email with code wich you then use to add song to cart
              </li>
            </ul>
          </div>
          <div class="example-box"></div>
        </div>
        <div class="section-wrapper">
          <div class="section-content-box">
            <form
              action="/sendOrder"
              method="post"
              class="contact-form"
              enctype="multipart/form-data"
            >
              <div class="input-group-box">
                <div class="input-group">
                  <input
                    type="radio"
                    name="mail-type"
                    id="order"
                    value="order"
                    class="radio-btn"
                    checked="checked"
                  />
                  <label class="radio-label" for="order">Order</label>
                </div>

                <div class="input-group">
                  <input
                    type="radio"
                    name="mail-type"
                    class="radio-btn"
                    id="support"
                    value="support"
                  />
                  <label class="radio-label" for="support">Support</label>
                </div>
              </div>
              <input
                type="email"
                name="mail"
                required
                placeholder="E-mail"
                class="contact-mail"
              />

              <textarea
                name="message"
                cols="30"
                required
                rows="10"
                class="contact-message"
                placeholder="Your message..."
              ></textarea>

              <p class="error-big-file hidden-overlay">
                Your file was bigger then 5 MB
              </p>

              <input type="file" class="example-file" name="example" />

              <button class="contact-btn btn-green" type="submit">Send</button>
            </form>
          </div>

          <div class="section-text-box contact-text-box">
            <div class="section-text-wrapper">
              <h2 class="section-heading">
                Contact
                <span class="section-heading-upper">Contact</span>
              </h2>
              <p class="section-text">
                If you want custom beat write wich type. If you need
                <strong>help</strong> , follow the instructions in the link
                below.
              </p>

              <a class="contact-link">
                Instructions for message
                <svg class="feather contact-icon">
                  <use xlink:href="/img/feather-sprite.svg#chevron-right" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("./partials/footer") -%> <%- include("./partials/cart") -%> <%-
    include("./partials/mobNav") -%>

    <script src="/js/index.js"></script>
    <script src="/js/slider.js"></script>
  </body>
</html>
